block-defense.freesmileguide.com {
	root * /home/ben/projects/game/block-defense/export/web
	file_server
	encode gzip

	header {
		Cross-Origin-Opener-Policy "same-origin"
		Cross-Origin-Embedder-Policy "require-corp"
	}
}
